@using SportivaWeb.Models
@rendermode InteractiveServer

<div class="navmenu">
	<input type="checkbox"
		   id="navmenu-toggle"
		   class="navmenu-icon" />
	<label for="navmenu-toggle"
		   class="navmenu-icon">
		<FluentIcon Value="@(new Icons.Regular.Size20.Navigation())"
					Color="Color.Fill" />
	</label>
	<nav class="sitenav"
		 aria-labelledby="main-menu">
		<FluentNavMenu Id="main-menu"
					   Collapsible="true"
					   Width="250"
					   Title="Navigation menu"
					   CustomToggle="true"
					   @bind-Expanded="Expanded">
			@foreach (var item in NavItems)
			{
				<FluentNavLink Href="@item.Href"
							   Match="NavLinkMatch.All"
							   Icon="@item.Icon"
							   IconColor="Color.Accent"
							   Tooltip="@item.Title">
					@item.Title
				</FluentNavLink>
			}
		</FluentNavMenu>
	</nav>
</div>

@code {
	private bool Expanded = true;

	private List<NavItem> NavItems = new()
	{
		new() { Href = "/", Icon = new Icons.Regular.Size20.Home(), Title = "Inicio" },
		new() { Href = "/eventos", Icon = new Icons.Regular.Size20.BoxMultiple(), Title = "Eventos" }
	};
}
