@page "/"
@using SportivaWeb.Models.DB;
@using SportivaWeb.Services;
@inject IEventosService eventosService
@inject IProvinciasService provinciasService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Sportiva - Inicio</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center"
             Style="margin: 12px 0">
    <h2>Próximos eventos</h2>
</FluentStack>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center">
    <FluentGrid Spacing="2">
        @foreach (var evento in eventos)
        {
            <FluentGridItem>
                <FluentCard Width="470px"
                            Style="cursor: pointer"
                            @onclick="@(() => navigationManager.NavigateTo($"eventos/{evento.Id}"))">
                    <FluentStack Orientation="Orientation.Vertical"
                                 HorizontalAlignment="HorizontalAlignment.Center">
                        <img src="/images/eventos/@evento.Imagen"
                             style="width: 100%; height: 235px; object-fit: cover; object-position: center; border-radius: 4px" />

                        <h4 style="margin-bottom: 6px;">@evento.Nombre</h4>

                        <FluentStack Orientation="Orientation.Vertical"
                                     HorizontalAlignment="HorizontalAlignment.Left"
                                     VerticalGap="0">
                            <span>
                                <strong>Fecha de inscripción:</strong> @evento.FechaApeIns.ToString("dd/MM/yyyy") - @evento.FechaCieIns.ToString("dd/MM/yyyy")
                            </span>
                            <span>
                                <strong>Ubicación:</strong> @provincias[evento.Provincia]
                            </span>
                        </FluentStack>
                    </FluentStack>
                </FluentCard>
            </FluentGridItem>
        }
    </FluentGrid>
</FluentStack>

@code {
    private List<EventoModel> eventos = [];
    private Dictionary<int, string> provincias = [];

    protected override async Task OnInitializedAsync()
    {
        eventos = await eventosService.ObtenerAsync();
        provincias = await provinciasService.ObtenerDiccionarioAsync();
    }
}
