@layout CuentaLayout
@page "/cuenta/registrarse"
@using System.ComponentModel.DataAnnotations
@using Microsoft.Data.SqlClient
@using SportivaWeb.Components.Layout
@using SportivaWeb.Models.DB
@inject IConfiguration configuration
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Sportiva - Registrarse</PageTitle>

<!-- Contenedor -->
<FluentStack Orientation="Orientation.Vertical"
			 HorizontalAlignment="HorizontalAlignment.Center">
	<h1>Registrarse</h1>

	<!-- Predeterminadamente es horizontal -->
	<FluentStack Width="auto">
		<!-- Etiquetas -->
		<FluentStack Orientation="Orientation.Vertical"
					 Style="align-items: end;">
			<FluentLabel Weight="FontWeight.Bold" MarginBlock="6px">
				Email:
			</FluentLabel>
			<FluentLabel Weight="FontWeight.Bold" MarginBlock="6px">
				Contraseña:
			</FluentLabel>
			<FluentLabel Weight="FontWeight.Bold" MarginBlock="6px">
				Confirmación de contraseña:
			</FluentLabel>
		</FluentStack>

		<!-- Campos y botón -->
		<FluentStack Orientation="Orientation.Vertical">
			<FluentTextField Style="width: inherit;"
							 @bind-Value="usuario.Email" />
			<FluentTextField TextFieldType="TextFieldType.Password"
							 Style="width: inherit;"
							 @bind-Value="usuario.Contra" />
			<FluentTextField TextFieldType="TextFieldType.Password"
							 Style="width: inherit;"
							 @bind-Value="confirmacion" />

			<FluentSpacer />

			<FluentStack VerticalAlignment="VerticalAlignment.Center"
						 Width="max-content">
				<!-- Botón con acción -->
				<FluentButton Appearance="Appearance.Accent"
							  @onclick="IniciarSesionUsuario">
					Registrarse
				</FluentButton>

				<!-- Redirección a la página de iniciar sesión en caso de tener cuenta -->
				<span>Ya tenés cuenta? <a href="@link">Iniciá sesión</a></span>
			</FluentStack>
		</FluentStack>
	</FluentStack>

	<FluentSpacer />

	<!-- Mensaje -->
	@if (!string.IsNullOrEmpty(mensaje))
	{
		<span>@mensaje</span>
	}
</FluentStack>

@code {
	private Usuario usuario = new();
	private string confirmacion = string.Empty;
	private string link = "/cuenta/iniciar-sesion";
	private string? mensaje;

	private async Task IniciarSesionUsuario()
	{
		// Limpiar el mensaje por cada acción
		mensaje = string.Empty;

		#region Validación en el modelo
		// Obtener mensaje en caso de que los valores no sean válidos
		var context = new ValidationContext(usuario);
		var results = new List<ValidationResult>();

		if (!Validator.TryValidateObject(usuario, context, results, true))
		{
			// Ejemplo: "Ingrese email. Ingrese contraseña."
			mensaje = string.Join("\n", results.Select(r => r.ErrorMessage));
			return;
		}
		if (string.IsNullOrEmpty(confirmacion))
		{
			mensaje = "Confirme la contraseña.";
			return;
		}
		if (confirmacion != usuario.Contra)
		{
			mensaje = "La confirmación de contraseña no coincide con la misma.";
			return;
		}
		#endregion

		#region Validación en la base de datos
		// Conectarse a la base de datos
		using (var conexion = new SqlConnection(configuration.GetConnectionString("DefaultConnection")))
		{
			await conexion.OpenAsync();

			// Chequear que no exista el email ingresado
			using (var emailComando = new SqlCommand($"SELECT COUNT(*) FROM Usuarios WHERE Email = @Email", conexion))
			{
				emailComando.Parameters.AddWithValue("@Email", usuario.Email);

				if (Convert.ToInt32(await emailComando.ExecuteScalarAsync()) > 0)
				{
					mensaje = "El correo ya está registrado.";
					return;
				}
			}

			// Insertar los valores
			using (var usuarioComando = new SqlCommand("INSERT INTO Usuarios (Email, Contra) VALUES (@Email, @Contra)", conexion))
			{
				usuarioComando.Parameters.AddWithValue("@Email", usuario.Email);
				usuarioComando.Parameters.AddWithValue("@Contra", usuario.Contra);

				await usuarioComando.ExecuteNonQueryAsync();
			}
		}
		#endregion

		// Redireccionar a la página de iniciar sesión
		mensaje = "Usuario registrado correctamente. Redirigiendo al inicio de sesión...";
		StateHasChanged();

		await Task.Delay(2000);
		navigationManager.NavigateTo(link);
	}
}
