@page "/eventos/{Id:int}"
@using SportivaWeb.Models.DB;
@using SportivaWeb.Services;
@using System.Globalization
@inject IDialogService dialogService
@inject IEventosService eventosService
@inject IProvinciasService provinciasService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Sportiva - Evento</PageTitle>

<FluentDialogProvider />

<FluentStack HorizontalAlignment="HorizontalAlignment.Center"
             Style="margin: 12px 0">
    <h2>Información de evento:</h2> <h2 style="font-weight: normal">@evento.Nombre</h2>
</FluentStack>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center">
    <FluentStack Orientation="Orientation.Vertical"
                 Width="1000px">
        <FluentButton Appearance="Appearance.Accent"
                      @onclick="@(() => navigationManager.NavigateTo($"/"))">
            Volver
        </FluentButton>

        <img src="/images/eventos/@evento.Imagen"
             style="width: 100%; max-width: 1000px; aspect-ratio: 2/1; object-fit: cover; object-position: center; border-radius: 4px" />

        <span>
            <strong>Fecha de inscripción:</strong> @evento.FechaApeIns.ToString("dd/MM/yy") - @evento.FechaCieIns.ToString("dd/MM/yy")
        </span>
        <span>
            <strong>Fecha de inicio:</strong> @evento.FechaInicio.ToString("dd/MM/yy")
        </span>
        <span>
            <strong>Ubicación:</strong> @provincia
        </span>
        <span>
            <strong>Precio:</strong> $@evento.Precio.ToString("N2", new CultureInfo("es-AR"))
        </span>
        <span>
            <strong>Descripción:</strong> @(!string.IsNullOrWhiteSpace(evento.Descri) ? evento.Descri : "Ninguna")
        </span>

        <FluentButton Appearance="Appearance.Accent"
                      @onclick="InscribirseAsync">
            Inscribirse
        </FluentButton>
    </FluentStack>
</FluentStack>

@code {
    [Parameter]
    public int Id { get; set; }

    private EventoModel evento = new();
    private string provincia = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var eventos = await eventosService.ObtenerListaAsync();
        evento = eventos.First(e => e.Id == Id);

        var provincias = await provinciasService.ObtenerDiccionarioAsync();
        provincia = provincias[evento.Provincia];
    }

    private async Task InscribirseAsync()
    {
        if (DateTime.Today > evento.FechaCieIns.Date)
        {
            RenderFragment fragmento = @<span>Las inscripciones a este evento están cerradas.</span>;
            DialogParameters parametros = new()
            {
                Title = "Inscripción cerrada",
                PrimaryAction = "Aceptar",
                ShowDismiss = false
            };

            await dialogService.ShowDialogAsync(fragmento, parametros);
        }
        else
        {
            navigationManager.NavigateTo($"/eventos/{Id}/inscripcion");
        }
    }
}
